<%- include('include/_header.ejs')%>
<%- include('include/_modalstyle.ejs')%>
</head>

<div class="modal hidden">
    <form id="#update_return_form" method="POST"  action="/update-return/<%= ret._id%>">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" value="<%= ret.id%>">
        </div>
        <div class="form-group">
            <label for="">Return Date</label>
            <input type="date" name="return_date" value="<%= ret.return_date%>"> 
        </div>
        <div class="form-group">
            <label for="">Issued Item Name</label>
            <input type="text" name="issued_item_name" value="<%= ret.issued_item_name%>">
        </div>
        <div class="form-group">
            <label for="">Nomenclature</label>
            <input type="text" name="nomenclature" value="<%= ret.nomenclature%>">
        </div>
        <div class="form-group">
            <label for="">Type</label>
            <input type="text" name="type" value="<%= ret.type%>">
        </div>
        <div class="form-group">
            <label for="">Purpose of use</label>
            <input type="text" name="purpose_of_use" value="<%= ret.purpose_of_use%>">
        </div>
        <div class="form-group"><label for="">Name of Receiver</label>
            <input type="text" name="name_of_receiver" value="<%= ret.name_of_receiver%>">
        </div>
        <div class="form-group"><label for="">Issue Location</label>
            <input type="text" name="issue_location" value="<%= ret.issue_location%>">
        </div>
        <div class="form-group"><label for="">Quantity Issued</label>
            <input type="text" name="quantity_issued" value="<%= ret.quantity_issued%>">
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Update</button>
        </div>
    </form>
</div>
<%- include('include/_footer.ejs')%>